/* header style */
.inner-box {
    width: 94%;
    margin: 10px auto 0;
    border-bottom: 1px solid #ddd;
}

/* header 줄 공통 */
.inner-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;;
}

/* header 첫째 줄 */
.inner-box div .tnb {
    display: flex;
}
.inner-box div .tnb ul {
    display: flex;
    font-size: 1.3em;
    border-right: 1px solid #bbb;
}
.inner-box div .tnb ul li {
    margin-right: 30px;
}
.inner-box div .tnb div {
    line-height: 22.8px;
}
.inner-box div .tnb .introduction {
    padding: 0 30px;
    border-right: 1px solid #bbb;
}
.inner-box div .tnb .b2b {
    padding-left: 30px;
}
.inner-box div .tnb .b2b a {
    display: block;
    background: url("https://www.lge.co.kr/lg5-common/images/icons/btn-outlink-16.svg") no-repeat right top 3px;
    width: 42px;
}

/* header 둘째 줄 */
.inner-box div .gnb {
    width: 100%;
    display: flex;
}
.inner-box div .gnb .normal {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.inner-box div .gnb .normal li {
    font-size: 1.1em;
}
.inner-box div .gnb .normal li .product {
    height: 40px;
}
.inner-box div .gnb .normal li a {
    display: block;
    height: 40px;
}
.inner-box div .gnb .normal li .product, .inner-box div .gnb .normal li a {
    padding-bottom: 0.9em;
}
.dropdown:hover, .dropdown:active, .dropdown:focus {
    font-weight: 700;
    border-bottom: 5px solid #000;
}
.inner-box div .gnb .special {
    display: flex;
    background: #f6f6f6;
    height: fit-content;
}
